h1{
    margin-top: 50px;
    text-align: center;
    color:rgb(12, 2, 19);
    
}
#main{

margin-top: 30px;
margin-left: 7cm;
}

button{
   
    margin-left: 16cm;
    margin-top: 0.5cm;
    
    
    
}
li{
    margin-top: 10px;
    font-weight:500;
    font-family:'Times New Roman', Times, serif;
}

